<html>
<head>

<title>Insert title here</title>
</head>
<body>
<div>
<div class="row">

            <div class="well well-sm" style="text-align: center;font-family: Comic Sans MS, cursive, sans-serif;color: maroon;">
                <h1>Category</h1>
            </div>
</div>
#if($message == "Category Alreay Exist")
<font color="green">$message</font>
#else
<div class="row" >
<div class="col-sm-12" style="text-align: center">
 #if($catList.size() == 0)
 <font color="red">No Data found</font>
  #else
  <table class="table table-hover">
  <thead>
  <tr class="success">
      <th>Category Id </th>
      <th> Category Name </th>
      <th> Delete </th>
      <th> Edit </th>
  </tr>  
  </thead>        
	#foreach($cats in $catList)
	<tbody>
   	<tr id="cat${cats.catId}">
   		<td>${cats.catId}</td>
   		<td>${cats.categoryName}</td>
   		<td><a href="#" onclick= "deleteRow(${cats.catId})" class="glyphicon glyphicon-trash" ></a></td>
   		<td><a href="#" onclick= "displayDivEdit(${cats.catId},'${cats.categoryName}')" class="glyphicon glyphicon-pencil" ></a></td>
   	</tr>
   	</tbody>
 	#end
 	</table>
#end	
 
 </div>
 </div>
 <div style="min-height: 10px"></div>
 
 <div class="row">
 <div class="col-sm-6">
 <input type="button" value="Add Category" onclick="displayDiv()" class="btn btn-success"/>
 </div>
 
 </div> 
 
  
 <div style="min-height: 30px"></div>
 <div id = "addCategory" style="display:none">
 <h4>Add Category</h4>    
 <div class="row" >
   <div class="col-sm-12">
<div class = "form-group">
<form action="addCategory.htm"  method="post" onsubmit="return ValidateData()" >
        <div class="row">
	        	<div class="col-sm-2" >
	         		 Category Name: 
				</div>
	          	<div class="col-sm-2" >
	  		#springBind("category.categoryName")    
	          <input type="text" name="categoryName" id="alphanum1" class = "form-control"/>
	          </div>
	          <div class="col-sm-8">
	          <font color="red">${status.errorMessage}</font>
	          </div>
       </div>
       <div class="row">
       		  <div class="col-sm-12">
        		 #if($error)
		         $error
		         
		         #end
		      </div>
       </div>
         <div class="row">
        	<div class="col-sm-12">
        	
         		 <input type="submit" value="Add" class="btn btn-success" />
         	
          	</div>
          	
        </div>
        
        </form>
</div>
</div>
</div>
</div>
<div id = "editCategory" style="display:none">
 <h4>Edit Category</h4>    
 <div class="row" >
   <div class="col-sm-12">
<div class = "form-group">
<form action="editCategory.htm"  method="post" onsubmit="return ValidateCat()" >
        <div class="row">
	        	<div class="col-sm-2" >
	         		 Category Name: 
				</div>
	          	<div class="col-sm-2" >
	  		#springBind("category.categoryName")    
	          <input type="text" name="categoryName" id="catname" class = "form-control"/>
	          </div>
	          <div class="col-sm-8">
	          <font color="red">${status.errorMessage}</font>
	          </div>
       </div>
       <div class="row">
       		  <div class="col-sm-12">
        		 #if($error)
		         $error
		         
		         #end
		      </div>
       </div>
         <div class="row">
        	<div class="col-sm-12">
        		<input type="hidden" name="categoryId" id="categoryId" />
         		 <input type="submit" value="Edit" class="btn btn-success" />
         	
          	</div>
          	
        </div>
        
        </form>
</div>
</div>
</div>
</div>

#end
<script>
function displayDiv()
{
	var dividadd = document.getElementById("addCategory");
	var dividedit = document.getElementById("editCategory");
	dividadd.style.display = "block";
	dividedit.style.display = "none";
}
function displayDivEdit(catid,name)
{

	var dividadd = document.getElementById("addCategory");
	var dividedit = document.getElementById("editCategory");
	dividadd.style.display = "none";
	dividedit.style.display = "block";
	var editbox = document.getElementById("catname");
	var hiddenbox = document.getElementById("categoryId");
	editbox.value = name;
	hiddenbox.value = catid;
}
 var xmlHttp;
        xmlHttp = GetXmlHttpObject();
 function deleteRow(catID) {
 var r = confirm("Are you sure you want to Delete?");
 if(r==true)
 {
            if (xmlHttp == null)
            {
                alert("Your browser does not support AJAX!");
                return;
            }

            var query = "catid=" + catID;

            xmlHttp.onreadystatechange = function stateChanged()
            {
                if (xmlHttp.readyState == 4)
                {
                	var rowid = "cat"+catID;
                    var row = document.getElementById(rowid);
                    
                    row.parentNode.removeChild(row);
                }
            };
            xmlHttp.open("POST", "deleteCategory.htm", true);
            xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xmlHttp.send(query);
            
            return false;
            }
        }
        function GetXmlHttpObject()
        {
            var xmlHttp = null;
            try
            {
                // Firefox, Opera 8.0+, Safari
                xmlHttp = new XMLHttpRequest();
            } catch (e)
            {
                // Internet Explorer
                try
                {
                    xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");
                } catch (e)
                {
                    xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
                }
            }
            return xmlHttp;
        }

</script>

</div>

</body>
</html>