
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
	<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
        
     
<div class="page-header" style="color:white;padding: 0;margin: 0">
    
     
   
<nav class="navbar navbar-inverse navbar-fixed-top">
 
    
    <ul class="nav navbar-nav">
      <li class="active"><a href="home.htm">Home</a></li>
      <li><a href="Allherb.htm">Herbs</a></li>
      <li><a href="AllFAQ.htm">FAQ</a></li>
      <li><a href="Alluser.htm">Founders</a></li>
      
    </ul>
	<ul class="nav navbar-nav navbar-right" style="padding-right: 10px">

      <li class="dropdown"><a href="SignupProfile.htm"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
</nav>


  </div>
  